/*====================================================================
=========================== Checkboxes ===============================
====================================================================*/

.modulosPagamento {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modulosPagamento input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .4);
}

.modulosPagamento:hover input~.checkmark {
    border: 1px solid rgba(255, 255, 255, 1);
}

.modulosPagamento input:checked~.checkmark {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.modulosPagamento input:checked~.checkmark:after {
    display: block;
}

.modulosPagamento .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #35CBDF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*
.modulosPagamento input:disabled~.checkmark {
    border: 1px solid rgba(255, 255, 255, .4);
}*/

/*====================================================================
========================= Radio Buttons ==============================
====================================================================*/

.pacotesRadio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pacotesRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.mark-pacotes {
    position: absolute;
    top: -5;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
}

.pacotesRadio:hover input~.mark-pacotes {
    background-color: rgba(0, 0, 0, .4);
}

.pacotesRadio input:checked~.mark-pacotes {
    background-color: #35CBDF;
}

.mark-pacotes:after {
    content: "";
    position: absolute;
    display: none;
}

.pacotesRadio input:checked~.mark-pacotes:after {
    display: block;
}

.pacotesRadio .mark-pacotes:after {
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}