form p {
    font-weight: 900;
    margin-bottom: 2px;
}

.form-column {
    display: block;
    float: left;
    width: 45%;
    padding: 15px;
}

.form-column input {
    background: none;
    border-color: #241E4E;
}

fieldset {
    border: none;
}

.entrada {
    width: 90%;
    font-style: italic;
    padding: 10px;
    margin-left: 20px;
    border-radius: 4px;
    display: block;
}

#double {
    float: left;
    width: 100%;
}

#tel {
    width: 60%;
    position: relative;
    display: block;
    float: left;
}

#age {
    width: 20%;
    display: block;
    position: relative;
    float: right;
    right: 8%;
}

[type=radio], [type=checkbox] {
    display: none;
}

.radio-btn label {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.radio-btn label:before {
    content: '';
    margin-right: 8px;
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 1px solid #241E4E;
    border-radius: 50%;
}

.radio-btn input:checked+label:before {
    transition: all .25s ease;
    border: 1px solid #241E4E;
    background: #241E4E;
}

.check-btn label {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.check-btn label:before {
    content: '';
    margin-right: 8px;
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 1px solid #241E4E;
    border-radius: 2px;
    transition: all .12s, border-color .08s;
}

.check-btn input:checked+label:before {
    width: 5px;
    height: 9px;
    border: 2px solid #241E4E;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
}

[type=file] {
    display: none;
}

[for=file]:after {
    content: 'Upload';
    width: 54px;
    margin-left: 8px;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #241E4E;
    color: #241E4E;
    cursor: pointer;
}

.msgSuccess {
    width: auto;
    height: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
    background: rgba(0, 200, 0, .1);
    color: green;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.msgFailure {
    display: block;
    background: rgba(200, 100, 100, .5);
    color: red;
    width: auto;
    height: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
}

#enviar {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #241E4E;
    border: none;
    left: 90%;
    position: relative;
}

#enviar:hover {
    transition: all .3s ease;
    background-color: #632581;
    color: white;
}

#enviar:active {
    background-color: #A78DB4;
}